.target {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 100px;
  text-align: center;
  background: #9caf88;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 1rem;
}
